<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018. Komplizierte Technologien. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="KT\RestApiReview\Api\ReviewManagementInterface" type="KT\RestApiReview\Model\ReviewManagement" />
    <preference for="KT\RestApiReview\Api\ReviewRepositoryInterface" type="KT\RestApiReview\Model\ReviewRepository" />
    <preference for="KT\RestApiReview\Api\Data\ReviewSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="KT\RestApiReview\Api\Data\ReviewInterface" type="KT\RestApiReview\Model\Review" />
    <preference for="KT\RestApiReview\Api\Data\VoteInterface" type="KT\RestApiReview\Model\Vote" />
    <preference for="KT\RestApiReview\Api\Data\RequestInterface" type="KT\RestApiReview\Model\Request" />
</config>